<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding margin class="rin">
<div class="rin-70">
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="primary" (click)="slideLeft()">Slide Left </ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="secondary" (click)="slideRight()">Slide Right</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="tertiary" (click)="slideUp()">Slide Up</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="success" (click)="slideDown()">Slide Down</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="warning" (click)="flip()">Flip</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="warning" (click)="flipLeft()">Flip Left</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="danger" (click)="flipRight()">Flip Right</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="light" (click)="fade()">Fade</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="light" (click)="fadeDown()">Fade Down</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="light" (click)="fadeUp()">Fade Up</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="medium" (click)="drawer()">Drawer</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="medium" (click)="drawerLeft()">Drawer Left</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="medium" (click)="drawerRight()">Drawer Right</ion-button>
    <ion-button expand="block" class="hello" href="/second" routerDirection="backward" color="dark" (click)="curl()">Curl</ion-button>
</div>
</ion-content>