.border {
    border: 1px solid #000;
}
.left {
    margin-left: -22px;
    font-size: 20px;
}
.right {
    float: right;
}
.title {
    width: 40%;
    float: left;
    text-align: center;
    margin-top: 10px;
    border: 1px solid;
    padding: 7px 0px;
    margin-top: 3px;
    margin-left: 15px;
}
.tip {
    padding : 10px 0px;
}
.ion-input.input-rin.sc-ion-input-md-h.sc-ion-input-md-s.hydrated.ng-touched.ng-dirty.ng-valid.md.has-value.ion-touched.ion-dirty.ion-valid {
    border: 1px solid #000;
}
.sema {
    width: 100%;
}
.sema .sema-bt {
    width: 30%;
    font-size: 20px;
    margin: 10px 5px;
}